services:
  db:
    image: postgres:18-alpine
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - ./sql/postgres_data:/var/lib/postgresql
      - ./sql/init:/docker-entrypoint-initdb.d/
    restart: unless-stopped

